doctype html
html
  head
  body
    - var idx = 0;
    - var h = 0;
    - var w = 0;
    #content(style="margin:auto;width:480px;height:400px;border:1px solid #ccc;box-shadow:0 3px 3px rgba(0,0,0,.2);border-radius:.25em;overflow:scroll;display:flex;flex-wrap:wrap;align-items:stretch;gap:3px;padding:3px")
      //-each i in [0,1,2,3,4,5,6]
      each i in [0,1,2]
        each j in [0,1,2,3,4,5,6]
          each k in [0,1,2,3,4,5,6]
            each m in [0,1,2,3,4,5,6]
              - idx = i * 343 + j * 49 + k * 7 + m;
              - h = (Math.random() * 3 + 1) * (Math.sin(idx / 10) + 2) * 20;
              - w = (40 + Math.random() * 40);
              - h = 50;
              - w = 230;
              - w = 120;

              div(style=`min-height:${h}px;flex:1 0 auto;background:#69f;color:#fff;width:${w}px;display:flex;align-items:center;justify-content:center`) #{idx}

    script(src="/assets/lib/@loadingio/vscroll/dev/index.min.js")
    script(src="/assets/lib/ldview/main/index.min.js")
    script: include:lsc index.ls
